<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка задания</title>
</head>
<body>
    <h1>Загрузка задания</h1>
    <form id="TaskForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить</button>
    </form>
    <script>
    window.onload = function() {
        document.getElementById("TaskForm").reset();
    }
    window.onbeforeunload = function() {
        document.getElementById("TaskForm").reset();
    }
    </script>
</body>
</html>